.contact {

    margin: 56px auto;

    @media #{$min-tablet} {
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
    }
    
    h2 {
        line-height: 30px;
        margin: 24px 0px;

        @media #{$min-tablet} {
            font-size: 32px;
            line-height: 48px;
        }
    }

    p {
        a {
            color: $color-green;
        }
    }

    .contactForm {
        @media #{$min-tablet} {
            flex-basis: 50%;
        }

        #gform_1 {
            font-family: 'Poppins', sans-serif;
            margin: 40px 0px;

            .gfield {
                margin-bottom: 24px;

                input {
                    background: $color-white;
                    border: 2px solid $color-green;
                    box-sizing: border-box;
                    border-radius: 8px;
                    width: 100%;
                    padding: 12px 16px;
                    line-height: 24px;
                    font-weight: 300;
                }

                select {
                    @extend input;

                    &::after {
                        content: url(../images/arrow_btn.svg);
                    }
                }

                textarea {
                    @extend input;
                    height: 150px;
                }

                label {
                    line-height: 30px;
                }
            }
        
            .gfield_required {
                color: $color-black;
            }

            .ginput_container_consent {
                font-weight: 300;
                display: flex;
                column-gap: 16px;
                position: relative;
                
                @media #{$min-tablet} { 
                    column-gap: 24px;
                }

                input {
                    width: 100%;
                    max-width: 24px;
                    height: 24px;
                    border: 2px solid $color-green;
                    box-sizing: border-box;
                    border-radius: 2px;

                    &:checked + label:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 3px;
                        left: 9px;
                        width: 6px;
                        height: 14px;
                        border: solid $color-green;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }

            .gform_footer {
                margin: 32px 0px;

                input {
                    background: $color-yellow;
                    border-radius: 8px;
                    padding: 12px 16px;
                    pointer-events: auto;

                    &::after {
                        content: url(../images/arrow_btn.svg)
                    }

                    &:hover {
                        background: $color-lightyellow;
                    }
                }
            }
        }
    }

    .contactInfo {
        @media #{$min-tablet} {
            flex-basis: 40%;
        }

        .localisation {
            background: $color-yellow;
            padding: 16px;
            border-radius: 8px;
            margin: 56px 0px 28px 0px;
            display: flex;
            flex-direction: column;
            row-gap: 24px;

            @media #{$min-tablet} {
                margin: 0px 0px 28px 0px;
            }
        
            .logo {
                max-width: 227px;
                margin: 30px auto;

                @media #{$min-tablet} {
                    margin: 30px 20px;
                }
            }
           
            a {
                color: $color-black;
            }
        
            p {
                display: flex;

                @media #{$min-tablet} {
                    padding-left: 20px;
                }
        
                &::before {
                    filter: brightness(0) invert(1);
                    margin-right: 16px;
                }
            }
        
            &__telephone:before {
                content: url(../images/telephone.svg);
            }
        
            &__email::before {
                content: url(../images/enveloppe.svg);
            }
            
            &__address::before {
                content: url(../images/broche_de_localisation.svg);
            }
        }

        .rs {
            display: none;
        
            @media #{$min-tablet} {
                display: flex;
                justify-content: center;
            }

            p {
                font-weight: 500;
                font-size: 16px;
            }

            a {
                max-width: inherit;
            }
        }
    }
    
}





