#ressources {
    padding-top: 1px;

    .resources {
        background: $color-yellow;
        padding: 40px 24px;
        border-radius: 8px;
        margin: 24px auto 48px auto;
    
        @media #{$min-laptop} {
            padding: 80px 69px;
            margin: 48px auto 96px auto;
        }
    
        h2 {
            margin: 0px auto 40px auto;
            text-align: center;
        }
    
        .btn {
            margin: auto;
    
            @media #{$min-laptop} {
                margin: 0px;
            }
        }
    
        .resourcesCarousel {
            .owl-stage {
                display: flex;
                flex-wrap: wrap;
    
                .owl-item {
                    p {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 8px;
                    }
            
                    a {
                        color: $color-green;
                        text-decoration: underline;
                        font-weight: 500;
                        display: flex;
                        gap: 10px;
            
                        &::after {
                            content: url('../images/download.svg');
                            position: relative;
                            background: none;
                        }
    
                        &::before {
                            display: none;
                        }
                    }
            
                    .resourcesItem {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        background: $color-lightyellow;
                        border-radius: 8px;
                        padding: 8px;
                        margin-bottom: 32px;
                    
                        img {
                            background: $color-white;
                            border-radius: 8px;
                            padding: 16px;
                            display: flex;
                            width: max-content;
                        }
                    }
                }
            }
        }
    
        .resourcesArrow {
            display: flex;
            flex-direction: column;
            gap: 32px;
    
            @media #{$min-laptop} {
                flex-direction: row;
                justify-content: center;
            }
    
            .owl-nav {
                text-align: center;
            }
    
            .owl-prev {
                width: 50px;
                height: 50px;
                background: $color-lightgreen;
                border-radius: 8px;
                cursor: pointer;
                pointer-events: auto;
                position: relative;
                overflow: hidden;
    
                &::after {
                    position: absolute;
                    top: 0;
                    height: 100%;
                }
            
                &::before {
                    @extend .btn::after;
                    content: '';
                    background: $color-green;
                    color: $color-black;
                    width: 160%;
                    left: -30%;
                    transform: skew(30deg);
                    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                }
            
                &:hover::before {
                    transform: translate3d(100%,0,0);
                }
    
                .prev-slide {
                    content: url('../images/dons_prev_arrow.svg');
                    margin: auto;
                    position: relative;
                }
            }
    
            .owl-next {
                @extend .owl-prev;
                margin-left: 16px;
    
                .next-slide {
                    content: url('../images/dons_next_arrow.svg');
                    margin: auto;
                    position: relative;
                }
            }
        }
    }
}