.support {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/soutenir.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    color: $color-white;
    text-align: center;
    padding: 56px 16px;
    margin: 56px 0px 0px 0px;

    @media #{$min-laptop} {
        padding: 80px 215px;
        margin: 104px 0px 0px 0px;
    }

    h2 {
        color: $color-white;
        margin: 0px;
    }
    
    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .btn {
        margin: auto;
    }
}

.-faq {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/support_faq.jpg);
    background-size: cover;
    background-position: center;
    margin: 56px 0px;

    @media #{$min-laptop} {
        margin: 104px 0px;
    }
}

#haWidget {
    display: none;
    width: 100%;
    height: 750px;
    border: none;

    @media #{$min-laptop} {
        height: 1500px;
    }
}