// COLORS 
$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #558D84;
$color-lightgreen: #6ca79d;
$color-yellow: #F8AF00;
$color-lightyellow: #FFC231;
$color-grey: #F9F9F9;
$color-darkgrey : #E0E0E0;

// RESPONSIVE
$max-mobile: screen and (max-width: 480px);
$min-mobile: screen and (min-width: 481px);
$max-tablet: screen and (max-width: 767px);
$min-tablet: screen and (min-width: 768px);
$max-laptop: screen and (max-width: 1024px);
$min-laptop: screen and (min-width: 1025px);
$max-desktop: screen and (max-width: 1280px);
$min-desktop: screen and (min-width: 1281px);